:root {
    /* Base (Light Theme) */
    --bg-color: #f0f0f0;
    --text-color: #222;
    --header-text-color: #505050;
    --link-color: #0000CC;
    --link-hover-color: #007bff;
    --border-color: #ccc;
    --section-bg-color: #ffffff;
    --footer-bg-color: #f1f1f1;
    --footer-text-color: #222;
    --best-plan-bg-light: #ffffcc;
    --best-plan-text-light: #000000;
    --best-plan-bg-dark: #333300;
    --best-plan-text-dark: #ffffff;
}

@media (prefers-color-scheme: dark) {
    :root {
        /* Dark Theme */
        --bg-color: #383838;
        --text-color: #ffffff;
        --header-text-color: #CCCCCC;
        --link-color: #9ecbff;
        --link-hover-color: #58a6ff;
        --border-color: #444;
        --section-bg-color: #242424;
        --footer-bg-color: #333;
        --footer-text-color: #E0E0E0;
        --best-plan-bg: var(--best-plan-bg-dark);
        --best-plan-text: var(--best-plan-text-dark);
    }
}

/* Light mode as default if prefers-color-scheme is not supported */
:root {
    --best-plan-bg: var(--best-plan-bg-light);
    --best-plan-text: var(--best-plan-text-light);
}



body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    direction: rtl;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 10px;
}


.header, .footer {
    padding: 20px 0;
    background-color: var(--section-bg-color);
    color: var(--text-color);
}

.nav a, .footer a {
    color: var(--link-color);
}

.nav a:hover, .footer a:hover {
    color: var(--link-hover-color);
}

.file-drop-zone {
    border: 2px dashed var(--border-color);
    padding: 20px;
    cursor: pointer;
    margin-top: 20px;
    background-color: var(--section-bg-color);
    color: var(--text-color);
}

.collapsible-section, .collapsible-header, .collapsible-content {
    background-color: var(--section-bg-color);
    color: var(--text-color);
    border-color: var(--border-color);
}

.collapsible-header .arrow {
    transition: transform 0.3s ease;
}

input[type="date"], select {
    background-color: var(--bg-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
}

#chartContainer, #csvDetails, #filters {
    background-color: var(--section-bg-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    padding: 20px;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid var(--border-color);
    padding: 8px;
}

@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
    }
}

footer {
    background-color: var(--bg-color);
    color: var(--text-color);
    margin-top: 30px;
    padding: 20px;
    text-align: center;
}

#disclaimer {
    color: var(--footer-text-color);
}

.best-plan {
    background-color: var(--best-plan-bg);
    color: var(--best-plan-text);
}


@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
    }

    .collapsible-header, .file-drop-zone {
        padding: 15px;
    }

    #chartContainer {
        height: 300px;
    }

    .filter-options, .csv-details {
        text-align: left;
    }
}