body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    text-align: center; /* Center text */
}

#filters {
    width: 300px; /* Set a fixed width for the filters */
    margin: 0 auto; /* Center horizontally */
    text-align: left; /* Align filter options to the left */
}

#filters h2 {
    text-align: center; /* Center the heading */
}

#filters div {
    margin-bottom: 10px; /* Add space between filter options */
}

#filters label {
    display: inline-block; /* Display labels inline */
    margin-right: 10px; /* Add space between checkboxes */
}

#dayFilters {
    display: flex; /* Use flexbox to ensure all checkboxes are in one line */
}

#chartContainer {
    height: 370px;
    width: 100%;
    margin-top: 20px;
}
table, th, td {
    border: 1px solid #ccc;
    border-collapse: collapse;
    padding: 5px;
    text-align: left;
    margin-left: auto; /* Center table */
    margin-right: auto;
}
/* Style for file input */
.file-input {
    font-family: Arial, sans-serif;
    margin: 20px 0;
    padding: 10px;
    background-color: var(--button-bg);
    color: var(--button-text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.file-input:hover {
    background-color: var(--button-hover-bg);
}
a {
    color: #4e9af1;
}
/* Base styles */
:root {
    --bg-color: #f0f0f0; /* Lighter background for light mode */
    --text-color: #333; /* Darker text for better contrast in light mode */
    --button-bg: #007bff;
    --button-text: #fff;
    --button-hover-bg: #0056b3;
    --header-bg-color: #e8e8e8; /* Soft gray for light mode header */
    --header-text-color: #505050; /* Dark gray text for light mode */
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #2c2c2c; /* Darker background for dark mode */
        --text-color: #c7c7c7; /* Light gray text for dark mode */
        --button-bg: #444;
        --button-text: #ccc;
        --button-hover-bg: #555;
        --header-bg-color: #1a1a1a; /* Dark gray or blue-gray for dark mode header */
        --header-text-color: #b8b8b8; /* Lighter text for dark mode */
    }
    table, th, td {
        border: 1px solid #888;
    }
    a {
        color: #4a90e2; /* Brighter link color for dark mode for better visibility */
    }
    .best-plan {
        background-color: #424242;
    }
}

/* Header Styling */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-bg-color); /* Use variable */
    color: var(--header-text-color); /* Use variable */
    padding: 10px 20px;
}

.header .logo, .header nav a {
    color: inherit; /* Ensures text color matches the header's color */
}

.header nav a:hover {
    color: #ddd;
}

.fa-github {
    font-size: 24px;
}


