body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.logo, nav a {
    color: var(--header-text-color);
}

nav a:hover {
    color: var(--link-hover-color);
}

.file-drop-zone {
    border: 2px dashed #ccc;
    padding: 20px;
    cursor: pointer;
    margin-top: 20px;
}

input[type="file"] {
    display: none;
}

.collapsible-header {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    margin-top: 20px;
}

.collapsible-header .arrow {
    transition: transform 0.3s ease;
}

.collapsible-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    text-align: left; /* Ensures text aligns left */
    padding: 10px; /* Adds padding around the content */
}

.collapsible-content p {
    margin: 10px 0; /* Adds top and bottom margin for paragraphs */
    padding-left: 15px; /* Adds left padding to align text start */
}


.filter-options {
    margin-top: 20px;
}

#chartContainer {
    height: 370px;
    width: 100%;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ccc;
    padding: 8px;
}

:root {
    --bg-color: #f0f0f0;
    --text-color: #333;
    --header-text-color: #505050;
    --link-hover-color: #ddd;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #2c2c2c;
        --text-color: #c7c7c7;
        --header-text-color: #b8b8b8;
        --link-hover-color: #aaa;
    }

    table, th, td {
        border-color: #888;
    }
}

@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
    }

    .collapsible-header, .file-drop-zone {
        padding: 15px;
    }

    #chartContainer {
        height: 300px;
    }

    .filter-options, .csv-details {
        text-align: left;
    }
}

#disclaimer {
    color: red;
}

